/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 100%;
  }

  /* # HEADER */

  .header{
    color: #FF9614;
    font-family: 'Nerko One', cursive;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .header .title{
    font-size: 40px;
    text-shadow: 1px 1px gray;
  }

  /* # RECIPE */

  .main{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background-color: #F6F5F3;
    color: #333;
  }

  .recipe .title-container, .recipe .upper-title, .recipe .title{
    padding-top: 10px;
  }

  .recipe .upper-title{
    color: grey;
  }

  .recipe .title{
    color: #4E3969;
  }

  .card{
    background-color: white;
    margin: 20px 0;
    border-radius: 5px;
  }

  .yt-tiramisù{
    width: 100%;
    aspect-ratio: 1.6;
  }

  .sub-title{
    font-size: 20px;
    margin: 20px 20px;
  }

  .list-element{
    list-style: none;
    font-size: 18px;
    margin: 10px 20px;
  }

  .list-recipe{
    padding-bottom: 10px;
  }

  .button-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .button{
    border-radius: 20px;
    border: 1px solid white;
    background-color: white;
    width: 60px;
    height: 40px;
  }

  .fa-facebook{
    color: #1A77F3;
  }

  .fa-twitter{
    color: #009EFF;
  }

  .fa-instagram{
    color: #DE3D78;
  }

  .fa-pinterest{
    color: #E62222;
  }

  .fa-youtube{
    color: #E62222;
  }

  .banner{
    width: 100%;
    display: none;
  }

  /* # PRESENTATION */

  .presentation-section{
    padding-bottom: 30px;
  }

  .jpg-tiramisù{
    width: 70%;
    aspect-ratio: 1.5;
  }

  .img-container{
    padding: 20px 0;
    text-align: center;
  }

  .presentation .title{
    padding-bottom: 20px;
  }

  hr{
    border: 1px solid orange;
    width: 100px;
  }

  .description{
    line-height: 23px;
    font-size: 18px;
    padding-top: 20px;
    text-align: start;
  }

  /* # FOOTER */

  .footer{
    background-color: #7C69A4;
    width: 100%;
    color: white;
  }

  .footer>.container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .title{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .info-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
  }


  /* # RESPONSIVE TABLET*/

  @media screen and (min-width: 576px) {

    .header{
      justify-content: left;
     
    }

    .banner{
      display: inline-block;
      padding-bottom: 20px;
    }

    .jpg-tiramisù{
      float: left;
      width: 40%;
      padding-right: 5px;
    }

    .description{
      padding-top: 0;   
    }

    .list-recipe{
      display: flex;
      flex-wrap: wrap;
      column-gap: 5px ;
    }

    .list-element{
      display: inline-block;
    }

  }

  /* # RESPONSIVE PC*/
  