/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }

  /* # HEADER */

  .header{
    color: #FF9614;
    font-family: 'Nerko One', cursive;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title{
    font-size: 40px;
  }